<style type="text/css">
    html,body{
        height: 100% !important;
        min-height: 100% !important;
    }
    .page-wrapper,
    .page-container{
        height: 100%;
        margin: 0px !important;
        padding: 0px;
    }
</style>

<div class="login">
        <section class="login-inner">
        <!-- BEGIN LOGO -->
        <div class="logo">
            
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content" style="background-color:#5a5a5a;">
            <!-- BEGIN LOGIN FORM -->
              <div class="row" ng-if="isTrascError">
                                                           <div
                                                             ng-class="{ 'alert col-md-offset-1 col-sm-10 text-center no-padding': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
                                                               ng-if="flash" ng-bind="flash.message"></div>
                                                         </div>
            <form class="login-form" role="form" name="form"
								 novalidate style="padding-top: 5px;">
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <i><img src="assets/layouts/layout/img/icon-login-user.png"/></i>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" ng-model="username" autocomplete="off" placeholder="Username" name="username" /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <i><img src="assets/layouts/layout/img/icon-login-lock.png"/></i>
                    <input class="form-control form-control-solid placeholder-no-fix" ng-model="password" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
                <div class="form-actions">
                <img ng-if="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
										<button type="submit" ng-disabled="{{loading}}" class="btn blue btn-block" ng-click="login();">
											Sign in</button>
                </div>
                <div class="form-actions">
                    <div class="pull-right">

                    </div>
                </div>
            </form>
            </div>
            </section>
            </div>
<!-- <div class="row" style="margin-right: 0px;">
	<div class="col-sm-12" style="height: 657px;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-6" style="top: 200px;">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-lock"></span>Login
						</div>
						<div class="panel-body">
						 <div class="row" ng-if="isTrascError">
                                                           <div
                                                             ng-class="{ 'alert col-md-offset-1 col-sm-10 text-center no-padding': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error'}"
                                                               ng-if="flash" ng-bind="flash.message"></div>
                                                         </div>
							<form class="form-horizontal" role="form" name="form"
								 novalidate>
								<div class="form-group"
									ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
									<label for="inputName3" class="col-sm-3 control-label">
										UserName</label>
									<div class="col-sm-9">
										<input type="text" name="username" ng-model="username"
											class="form-control" id="inputName3" placeholder="User Name"
											required>
									</div>
								</div>
								<div class="form-group"
									ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
									<label for="inputPassword3" class="col-sm-3 control-label">
										Password</label>
									<div class="col-sm-9">
										<input type="password" name="password" ng-model="password"
											class="form-control" id="inputPassword3"
											placeholder="Password" required>
									</div>
								</div>
								<div class="form-group">
                    </div>
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<img ng-if="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
										<button type="submit" ng-disabled="{{loading}}" class="btn btn-primary btn-sm" ng-click="login();">
											Sign in</button>
										<button type="reset" class="btn btn-default btn-sm" ng-click="resetform()">
											Reset</button>
									</div>
								</div>
								<div ng-if="error" class="alert alert-danger">{{vm.error}}</div>
							</form>
						</div>
						<div class="panel-footer">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
